@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

.link {
  position: relative;
  padding-bottom: 5px;
  margin-right: 5px;
  text-decoration: none;
  transition: color 0.3s;
}

.link::before {
  background: #1649FF;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s ease-in-out;
}

.link:hover::before {
  width: 105%;
  transition-delay: 0.3s;
}